@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* CSS RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* ############################# */
/* BEGIN CSS BY JOAN MEDINA ROCA */
/* ############################# */

/* Variables */

:root {
    --lmds-primary-color: #319ace;
    --lmds-font-condensed: "Roboto Condensed", sans-serif;
    --lmds-font-regular: "Roboto", sans-serif;
}

/* Classes */

.bg-lmds {
  background-color: var(--lmds-primary-color);
}

.color-lmds {
  color: var(--lmds-primary-color);
}

/* BODY */

body {
  font-family: var(--lmds-font-regular)
}

/* Globals */

.btn-lmds-1 {
  background-color: var(--lmds-primary-color);
  color: white;
}

.btn-lmds-1:hover {
  background-color: var(--lmds-primary-color);
  border: 1px solid white;
}

.opacity-7 {
  opacity: .7;
}

/* Top Bar */

.top-bar {
    background-color: var(--lmds-primary-color);
    font-family: var(--lmds-font-condensed)
}

/* Nav Menu */

.nav-menu {
  background-color: white;
  align-items: center;
  font-family: var(--lmds-font-condensed);
}

.nav-link{
  color: darkslategray;
}

.nav-link:hover{
  color: black;
}

/* Nav Menu Dropdowns */

.dropdown-menu {
  border: none;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media screen and (max-width:991px){
  .dropdown-menu {
    text-align: center;
    max-width: 250px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }

  .dropdown-menu hr {
    max-width: 190px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Navbar Responsive Hamburger sin borde */

.navbar-toggler {
  border: none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/* CARRUSEL */

.carousel {
  background-color: black;
  max-width: 1200px;
  margin: auto;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.carousel img {
    object-fit: cover;
    object-position: center;
    height: 65vh;
    max-height: 600px;
    width: 100%;
    overflow: hidden;
}

/* IMAGEN OBJECT FIT COVER - Para que quede centrada y maximo ancho */

.img-cover {
  object-fit: cover;
  object-position: center;
  min-height: 100%;
  width: auto;
}

.carousel-caption {
  bottom: 35%;
  font-family: var(--lmds-font-regular);
  text-shadow: -1px -1px 1px rgb(255 255 255 / 10%), 1px 1px 1px rgb(0 0 0 / 50%);
}

.carousel-caption h2 {
  font-weight: 800;
}

.carousel-caption p {
  font-weight: 800;
}

.carousel-caption button {
  font-weight: 800;
}